body{
    font-family: "Spartan";
    display: none;
}
.container{
    position: relative;
    top:150px;
    width:270px;
    margin:auto;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #33333315;
}
.row{
    margin-bottom: 5px;
}
.row > .col{
    display: inline-block;
}
.form .vs-input{
    width: 100%;
}
.text-center{
    text-align: center;
}
.preview-ctn{
    position: relative;
    min-width: 200px;
    min-height: 200px;
}
.preview{
    width: 200px;
    margin: auto;
}
.tinybtn{
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    background-color: #f0f2f5;
    font-size: .6em;
    color: #333333;
    padding: 5px;
    right:90px;
    top:10px;
    text-decoration: none;
    opacity: .2;
    transition: 0.5s ease-in-out;
}
.tinybtn:hover{
    opacity: .999;
}
.d-none{
    display: none;
}
.searchbar{
    padding-bottom:15px;
    border-bottom: solid 1px #33333315;
}
.contact{
    padding:5px;
    margin-top:5px;
    transition: .7s ease-in-out;
    border-radius: 15px;
    border-bottom :solid 1px #15662108;
}

.contact:hover{
    color:#FFF;
    cursor:pointer;
    background-color: #2d78fa;
}
.thumb img{
    width: 30px;
    height: 30px;
    border-radius: 60%;
}
.name{
    width:70%;
    font-size: .8em;
    vertical-align: top;
    margin-left: 15px;
    line-height: 30px;
}
.actions{
    line-height: 30px;
    vertical-align: top;
}
.actions a{
    color:#fff;
}