{% extends 'layout.twig' %}
{% block content %}
    <section id="app" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="container" >
            <div class="row">
                <h2 style="text-align: center">Carnet d'adresse</h2>
            </div>
            <div class="row">
                <div class="col searchbar">
                    <vs-input type="search" v-model="name" v-on:keyup="search" icon-after placeholder="Contact name">

                    </vs-input>

                </div>
                <div class="col add">
                    <vs-button
                            @click="add"
                    >
                        <b>+</b>
                    </vs-button>
                </div>
            </div>
            <div class="list" v-if="!searching">
                    <div class="contact row"  v-for="(contact,id) in contacts" :key="id">
                        <div class="col thumb"><img class="thumbnail" :src="contact.photo"></div>
                        <div class="col name"  @click="editor(contact.id)"><span v-html="contact.nom"></span></div>
                        <div class="col actions">
                            <a href="#" @click="del(contact.id)"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>

            </div>

            <div class="list" v-if="searching">
                <div class="contact row"  v-for="(contact,id) in searchresults" :key="id">
                    <div class="col thumb"><img class="thumbnail" :src="contact.photo"></div>
                    <div class="col name"  @click="editor(contact.id)"><span v-html="contact.nom"></span></div>
                    <div class="col actions">
                        <a href="#" @click="del(contact.id)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <vs-dialog  v-model="active">
            <div class="form-container">
                    <h4 class="not-margin" style="text-align: center">
                        Ajouter un contact
                    </h4>


                <form class="form">
                    <div class="row text-center preview-ctn">
                        <img id="preview" class="preview" :src="contact.photo">
                        <a href="#" class="tinybtn" @click="select()"><i class="fa fa-upload"></i> Upload </a>
                    </div>
                    <div class="row">

                        <vs-input v-model="contact.nom" placeholder="Nom" block>

                        </vs-input>
                    </div>

                    <div class="row">

                        <vs-input v-model="contact.prenom" placeholder="Prenom" block>

                        </vs-input>
                    </div>
                    <div class="row">

                        <vs-input v-model="contact.adresse" placeholder="Adresse" block>

                        </vs-input>
                    </div>
                    <div class="row">

                        <vs-input v-model="contact.tel" placeholder="N Tel" block>

                        </vs-input>
                    </div>
                    <input type="file" id="image" class="d-none" v-on:change="preview">
                </form>

                    <div class="footer-dialog">
                        <vs-button block @click="submit">
                            Enregistrer
                        </vs-button>


                    </div>
            </div>
        </vs-dialog>
        <vs-dialog  v-model="openeditor">
            <div class="form-container">
                <h4 class="not-margin" style="text-align: center">
                    Modifier un contact
                </h4>


                <form class="form">
                    <div class="row text-center preview-ctn">
                        <img id="preview" class="preview" :src="contact.photo">
                        <a href="#" class="tinybtn" @click="select()"><i class="fa fa-upload"></i> Upload </a>
                    </div>
                    <div class="row">

                        <vs-input v-model="contact.nom" placeholder="Nom" block>

                        </vs-input>
                    </div>

                    <div class="row">

                        <vs-input v-model="contact.prenom" placeholder="Prenom" block>

                        </vs-input>
                    </div>
                    <div class="row">

                        <vs-input v-model="contact.adresse" placeholder="Adresse" block>

                        </vs-input>
                    </div>
                    <div class="row">

                        <vs-input v-model="contact.tel" placeholder="N Tel" block>

                        </vs-input>
                    </div>
                    <input type="file" id="image" class="d-none" v-on:change="preview">
                </form>

                <div class="footer-dialog">
                    <vs-button block @click="edit">
                        Enregistrer
                    </vs-button>


                </div>
            </div>
        </vs-dialog>
    </section>


{% endblock %}
{% block scripts %}
    {{ parent() }}

{% endblock %}