<!DOCTYPE html>
<html>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}
    {% block title %}
        <title>Contacts</title>
    {% endblock %}
    {% block css  %}
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/font-awesome.css" rel="stylesheet">
        <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">


    {% endblock %}
    {% block fonts %}
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
    {% endblock  %}
    <body >
        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
            {% include 'footer.twig' %}
        {% endblock %}
    </body>
    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
        <script type="module" src="/assets/js/app.js"></script>
    {% endblock %}
</html>